body {
    text-align: center;
    background-color: linear-gradient(160deg, #8F47B3 0%, #fefefe 60%, #20B2AA 100%);
    font-family: 'Times Roman', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_title {
    font-family: 'Times Roman', sans-serif;
    font-size: 40px;
    color: #03bb85;
}
h2 {
    font-family: 'Times Roman', sans-serif;
	}


footer {
    background-color: #03bb85;
    color: #fefefe;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fefefe;
}

footer a:hover {
    color: #20B2AA;
    text-decoration: none;
}
